[submodule "us-congress-pizza-flag-tracker"]
	path = us-congress-pizza-flag-tracker
	url = https://ethanstrominger/us-congress-pizza-flag-tracker/us-congress-pizza-flag-tracker.git
[submodule "us-congress-pizza-flag-tracker-frontend"]
	path = us-congress-pizza-flag-tracker-frontend
	url = https://ethanstrominger/us-congress-pizza-flag-tracker-frontend/us-congress-pizza-flag-tracker-frontend.git
